doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title dvr-soak-analyser
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/custom.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/notify.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/custom.js')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
      .container
        a.navbar-brand(href='#') DVR Soak Run Analyser
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
    // Page Content
    .container
      .row
        .col-lg-12.text-center
          block content
