doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='js/jquery.min.js')
    script(src='js/notify.min.js')
    script(src='js/custom.js')
  body
      h2 DVR-Soak Editor

      block content
